In [ ]:
#Importing necessary libraries

import pandas as pd
import matplotlib.pyplot as plt 
import os

In [2]:

dataset = pd.read_csv('Toyota.csv',index_col = 0, na_values = ["??","???"])
print(dataset)

      Price   Age       KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0     13500  23.0  46986.0   Diesel   90       1.0          0  2000  three
1     13750  23.0  72937.0   Diesel   90       1.0          0  2000      3
2     13950  24.0  41711.0   Diesel   90       NaN          0  2000      3
3     14950  26.0  48000.0   Diesel   90       0.0          0  2000      3
4     13750  30.0  38500.0   Diesel   90       0.0          0  2000      3
...     ...   ...      ...      ...  ...       ...        ...   ...    ...
1431   7500   NaN  20544.0   Petrol   86       1.0          0  1300      3
1432  10845  72.0      NaN   Petrol   86       0.0          0  1300      3
1433   8500   NaN  17016.0   Petrol   86       0.0          0  1300      3
1434   7250  70.0      NaN      NaN   86       1.0          0  1300      3
1435   6950  76.0      1.0   Petrol  110       0.0          0  1600      5

      Weight
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]

In [3]:
#Creating two copies of the dataset

cars_data1 = dataset.copy()
cars_data2 = cars_data1.copy()

In [12]:
#Checking for misssing values

cars_data1.isna().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [13]:
missing = cars_data1[cars_data1.isnull().any(axis = 1)]
print(missing)

      Price   Age       KM FuelType    HP  MetColor  Automatic    CC Doors  \
2     13950  24.0  41711.0   Diesel    90       NaN          0  2000     3
6     16900  27.0      NaN   Diesel  ????       NaN          0  2000     3
7     18600  30.0  75889.0      NaN    90       1.0          0  2000     3
9     12950  23.0  71138.0   Diesel  ????       NaN          0  1900     3
21    16950  29.0  43905.0      NaN   110       0.0          1  1600     3
...     ...   ...      ...      ...   ...       ...        ...   ...   ...
1428   8450  72.0      NaN   Petrol    86       NaN          0  1300     3
1431   7500   NaN  20544.0   Petrol    86       1.0          0  1300     3
1432  10845  72.0      NaN   Petrol    86       0.0          0  1300     3
1433   8500   NaN  17016.0   Petrol    86       0.0          0  1300     3
1434   7250  70.0      NaN      NaN    86       1.0          0  1300     3

      Weight
2       1165
6       1245
7       1245
9       1105
21      1170
...      ...
1428    1015
1431    1025
1432    1015
1433    1015
1434    1015

[337 rows x 10 columns]

In [14]:
#Dealing with missing values
cars_data1.describe()

,Price,Age,KM,MetColor,Automatic,CC,Weight
count,1436.000000,1336.000000,1421.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.672156,68647.239972,0.674961,0.055710,1566.827994,1072.45961
std,3626.964585,18.589804,37333.023589,0.468572,0.229441,187.182436,52.64112
min,4350.000000,1.000000,1.000000,0.000000,0.000000,1300.000000,1000.00000
25%,8450.000000,43.000000,43210.000000,0.000000,0.000000,1400.000000,1040.00000
50%,9900.000000,60.000000,63634.000000,1.000000,0.000000,1600.000000,1070.00000
75%,11950.000000,70.000000,87000.000000,1.000000,0.000000,1600.000000,1085.00000
max,32500.000000,80.000000,243000.000000,1.000000,1.000000,2000.000000,1615.00000

In [15]:
#Imputinng the missing values 
#filling age column

cars_data1['Age'].mean()

55.67215568862275

In [16]:
cars_data1['Age'].fillna(cars_data2['Age'].mean(),inplace = True)

In [17]:
#filling KM column

cars_data1['KM'].median()

63634.0

In [18]:
cars_data1['KM'].fillna(cars_data2['KM'].median(),inplace = True)

In [19]:
cars_data1.isna().sum()

Price          0
Age            0
KM             0
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [ ]:
# Above we can see that we've imputed the missing values of 
# AGE , KM as they were Numerical values using median , mean .

In [21]:
# For categorical values of columns 'FuelType' and 'MetColor'

cars_data1['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [25]:
cars_data1['FuelType'].fillna(cars_data2['FuelType'].value_counts().index[0],
                              inplace = True)

In [26]:
cars_data1['MetColor'].mode()

0    1.0
Name: MetColor, dtype: float64

In [30]:
cars_data1['MetColor'].fillna(cars_data2['MetColor'].mode()[0],inplace = True)

In [36]:
# Rechecking the dataset copy to check we've filled out the missing values.

print("All the missing values are filled \n")
end = cars_data1.isna().sum()
print(end)

All the missing values are filled

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64

In [37]:
cars_data2 = cars_data2.apply(lambda x: x.fillna(x.mean())
                              if x.dtype == 'float' else
                              x.fillna(x.value_counts().index[0]))

In [38]:
cars_data2.isna().sum()

Price        0
Age          0
KM           0
FuelType     0
HP           0
MetColor     0
Automatic    0
CC           0
Doors        0
Weight       0
dtype: int64